

$color: #f7f7f7;
$fonto: 'Oswald', sans-serif;
$inborder: 1px solid #fff;
@mixin corners{
	$rounded-corner-radius: 40px;
  -webkit-border-radius: $rounded-corner-radius;
  -moz-border-radius: $rounded-corner-radius;
  -ms-border-radius: $rounded-corner-radius;
  border-radius: $rounded-corner-radius;
}


/*****HTML5 BOILERPLATE MINIFIED*******/

*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}article{display:block}aside{display:block}details{display:block}figcaption{display:block}figure{display:block;margin:0}footer{display:block}header{display:block}hgroup{display:block}nav{display:block}section{display:block}audio{display:inline;zoom:1}canvas{display:inline;zoom:1}video{display:inline;zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-family:sans-serif;color:#222}button{font-family:sans-serif;color:#222;font-size:100%;vertical-align:middle;line-height:normal;cursor:pointer;-webkit-appearance:button;overflow:visible;margin:0}input{font-family:sans-serif;color:#222;font-size:100%;vertical-align:middle;line-height:normal;margin:0}select{font-family:sans-serif;color:#222;font-size:100%;vertical-align:middle;margin:0}textarea{font-family:sans-serif;color:#222;font-size:100%;overflow:auto;vertical-align:top;resize:vertical;margin:0}body{font-size:1em;line-height:1.4;margin:0}::-moz-selection{background:#fe57a1;color:#fff;text-shadow:none}::selection{background:#fe57a1;color:#fff;text-shadow:none}a{color:#00e}a:hover{color:#06e;outline:0}a:focus{outline:thin dotted}a:active{outline:0}abbr[title]{border-bottom:1px dotted}b{font-weight:700}strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}ins{background:#ff9;color:#000;text-decoration:none}mark{background:#ff0;color:#000;font-style:italic;font-weight:700}pre{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;white-space:pre-wrap;word-wrap:break-word}code{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}kbd{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}q{quotes:none}q:before{content:none}q:after{content:none}small{font-size:85%}sub{font-size:75%;line-height:0;position:relative;vertical-align:baseline;bottom:-.25em}sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;top:-.5em}ul{margin:1em 0;padding:0 0 0 40px}ol{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul{list-style:none;list-style-image:none;margin:0;padding:0}nav ol{list-style:none;list-style-image:none;margin:0;padding:0}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}svg:not(:root){overflow:hidden}form{margin:0}fieldset{border:0;margin:0;padding:0}label{cursor:pointer}legend{border:0;margin-left:-7px;white-space:normal;padding:0}input[type="button"]{cursor:pointer;-webkit-appearance:button;overflow:visible}input[type="reset"]{cursor:pointer;-webkit-appearance:button;overflow:visible}input[type="submit"]{cursor:pointer;-webkit-appearance:button;overflow:visible}button[disabled]{cursor:default}input[disabled]{cursor:default}input[type="checkbox"]{box-sizing:border-box;width:13px;height:13px;padding:0}input[type="radio"]{box-sizing:border-box;width:13px;height:13px;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner{border:0;padding:0}input::-moz-focus-inner{border:0;padding:0}input:invalid{background-color:#f0dddd}textarea:invalid{background-color:#f0dddd}table{border-collapse:collapse;border-spacing:0}td{vertical-align:top}.chromeframe{background:#ccc;color:#000;margin:.2em 0;padding:.2em 0}

/****BODY STYLES********/

body { 
    background: #F2DB8A;
    color: #8d8c8d;
    font-family: 'Lato', helvetica, arial, sans-serif;
    font-weight: 100;

}


.wrapper {
    background:  $color;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: auto;
    max-width: 1280px;

    
}

.menu_toggle{

    @media only screen and (max-width: 1050px) {

        padding: 0 15px 20px 20px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;

        a{
            color: #fff;
        } 
    } 

    @media only screen and (min-width: 1051px) {

        display: none;
    }

}

.menu_toggle_s{

    @media only screen and (max-width: 1050px) {

        padding: 5px 15px 20px;
        position: fixed;
        left: 0px;
        top: 0;
        z-index: 1000;     

        a{
            color: #fff;
        }       
    }

    @media only screen and (min-width: 1051px) {

        display: none;
    }
}



.cheri{
    max-width: 100%;
}

.soc-contact{
    left: 0;
    position: fixed;

    	li {
   			border: 1px solid #F2DB8A;
   	 		border-radius: 100%;
    		display: block;
    		margin: 15px;
    		padding: 10px;
    		-webkit-transition: all 0.3s ease;
    		-moz-transition: all 0.3s ease;
    		transition: all 0.3s ease;

    			&:hover{
    				background: #F2DB8A;
				}
		}

    @media only screen and (max-width: 1050px) {

        background: #777777;
        height: 100%;
        left:-300px;
        margin: auto;
        padding: 0 25px;
        position: fixed;
        transition: all 1s ease 0s;
        z-index: 1000;

        li {
            background: #F2DB8A;
            margin: 15px 5px;
            padding: 7px;
        }
    }   


    @media only screen and (max-width: 1050px) {

        li{
            &.menu-close_s {
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                border: medium none;
                color: #F2DB8A;
                cursor: pointer;
                padding: 20px 0;
                text-align: center;
            }
        }
    }  

    @media only screen and (min-width: 1051px) {

        li{
                &.menu-close_s {
                display: none;
            }
        }       
    }
}




.main {
    position: fixed;
    right: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;


    li {
        background: #A8DAD0;
        border: 1px solid #A8DAD0;
        display: block;
        margin: 15px;
        transition: all 1s ease 0s;

        &:hover{
            background: #F2DB8A;
            border: 1px solid #F2DB8A;

        }

        a {
            color: #FFFFFF;
            display: block;
            font-family: $fonto;
            padding: 10px;
            text-transform: uppercase;
            transition: all 1s ease 0s;

            &:hover {
                color: #8D8C8D;
            }
        }         
    }

    @media only screen and (max-width: 1050px) {

        background: #777777;
        height: 100%;
        right: -300px;
        z-index: 1000;

        li{
            &.menu-close {
                background: none;
                border: medium none;
                color: #F2DB8A;
                cursor: pointer;
                padding: 20px 0;
                text-align: center;
            }  

        }
        
    }

    @media only screen and (min-width: 1051px) {

        li{
            &.menu-close {
                display: none;
            }         
        }
    }
}




header{

    h1 {
        font-size: 4em;
        margin: 0;
        text-align: center;
    }

    h2 {
        border-top: 1px solid;
        font-size: 1.25em;
        text-align: center;
    }

    span {
        background: $color;
        bottom: 15px;
        padding: 0 10px;
        position: relative;
    }

    @media only screen and (max-width: 320px) {

        h1 {
            font-size: 2.5em;

        }
    } 
} 

h1 {
    font-family: $fonto;
    color: #A8DAD0;
}
h2 {
    font-family: $fonto;  
    color: #EE9FB0;
    font-weight: 100;
}


h3 {
    font-family: $fonto;  
    color: #F19B80;
    font-weight: 100;
}

h4 {
    color: #A8DAD0;
    font-family: $fonto;
    font-weight: 100;
}

.sects {
    margin: 0 auto 100px;
    padding: 25px 0 0;

    @media only screen and (min-width: 1051px) {

        margin: 0 auto 100px;
        padding: 25px 0 0;
    }   
}

#services {

    li {
        list-style-image: url("arrow.png");
    }
}



.experience{
    padding:0;
    
    li {
        border-bottom: 1px dashed;
        list-style-type: none;
        padding: 6px 10px;

        &:nth-child(2n+1) {
            background: #eee;

            
        }
    }
}



p{
}

a { text-decoration: none; }
a:hover {}

.contain {
    margin: 0 auto;
    max-width: 780px;
    width: 90%;
}

#contact{
    background: #EE9FB0;
    color: #fff;
    padding: 50px 0 100px;

    h2{
        color: #fff;
    }

    input {
        background: none;
        border: $inborder;
        color: #fff;
        font-family: sans-serif;
        font-size: 100%;
        height: 40px;
        line-height: normal;
        margin: 0 0 20px;
        padding: 0 10px;
        transition: all 0.2s ease-in 0s;
        vertical-align: middle;
        width: 100%;

        &:focus{
            background: #fff;
            color: #000;
        }    
    }

    input[type="submit"] {
            background: none;
            border: $inborder;
            color: #fff;
            cursor: pointer;
            display: table;
            margin: 25px auto 0;
            max-width: 320px;
            overflow: visible;
            position: relative;
            text-align: center;
            transition: all 0.2s ease-in 0s;    
            width: 100%;

            &:hover, &:focus{
                background: #fff;
                color: #EE9FB0;
            }

            &:active {
                top: 2px;
            }
        }

    textarea {
        background: none;
        border: $inborder;
        color: #fff;
        font-family: sans-serif;
        font-size: 100%;
        margin: 0;
        overflow: auto;
        resize: vertical;
        padding: 10px;
        transition: all 0.2s ease-in 0s;    
        vertical-align: top;
        width: 100%;

        &:focus{
            background: #fff;
            color: #000;
        }
    }    
}

.menu-open{

    @media only screen and (max-width: 1050px) {

        right: 0px;
    }
}

.menu-open_s{

    @media only screen and (max-width: 1050px) {

        left: 0px;
    }
}

.alignleft{float:left;margin-right:15px}.alignright{float:right;margin-left:15px}@media print{*{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}blockquote,pre{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr{page-break-inside:avoid}img{page-break-inside:avoid;max-width:100%!important}p{orphans:3;widows:3}h2,h3{orphans:3;widows:3;page-break-after:avoid}}
